In [1]:
import pandas as pd
from datetime import datetime
import json

In [2]:


#nombres=['ruben','walter','miguel']


datos_miguel={'miguel':{'2022-10-2':4,'2022-10-5':7,'2022-10-12':1,'2022-10-13':6,'2022-10-17':3}}
datos_ruben={'ruben':{'2022-10-4':4,'2022-10-5':5,'2022-10-10':5,'2022-10-15':6,'2022-10-18':8}}
datos_walter={'walter':{'2022-10-1':1,'2022-10-9':3,'2022-10-10':8,'2022-10-13':6,'2022-10-17':2}}

datosHoras = [datos_ruben,datos_walter,datos_miguel]
col1={}
col2={}
columnas = [col1,col2]

nombres=[]
for i in datosHoras:
    for x in i:
        nombres.append(x)

dfDatosReales=pd.DataFrame()
start =pd.Timestamp('2022-10-01')#.strftime("%d-%m-%Y")
end = pd.Timestamp.now()
fechas = pd.date_range(start, end)#.strftime("%d-%m-%Y")
dfDatosReales = pd.DataFrame(index = fechas,columns = nombres)

In [3]:
dfDatosReales

           ruben walter miguel
2022-10-01   NaN    NaN    NaN
2022-10-02   NaN    NaN    NaN
2022-10-03   NaN    NaN    NaN
2022-10-04   NaN    NaN    NaN
2022-10-05   NaN    NaN    NaN
2022-10-06   NaN    NaN    NaN
2022-10-07   NaN    NaN    NaN
2022-10-08   NaN    NaN    NaN
2022-10-09   NaN    NaN    NaN
2022-10-10   NaN    NaN    NaN
2022-10-11   NaN    NaN    NaN
2022-10-12   NaN    NaN    NaN
2022-10-13   NaN    NaN    NaN
2022-10-14   NaN    NaN    NaN
2022-10-15   NaN    NaN    NaN
2022-10-16   NaN    NaN    NaN
2022-10-17   NaN    NaN    NaN
2022-10-18   NaN    NaN    NaN
2022-10-19   NaN    NaN    NaN
2022-10-20   NaN    NaN    NaN
2022-10-21   NaN    NaN    NaN

In [4]:
for i in datosHoras:
    for nombre,valores in i.items():
        print('nombre:',nombre,'valores:',valores)
        for fecha,horas in valores.items():
            print('fecha:',fecha,'horas:',horas)
            print(valores[fecha])
            dfDatosReales.loc[fecha,nombre]=horas

nombre: ruben valores: {'2022-10-4': 4, '2022-10-5': 5, '2022-10-10': 5, '2022-10-15': 6, '2022-10-18': 8}
fecha: 2022-10-4 horas: 4
4
fecha: 2022-10-5 horas: 5
5
fecha: 2022-10-10 horas: 5
5
fecha: 2022-10-15 horas: 6
6
fecha: 2022-10-18 horas: 8
8
nombre: walter valores: {'2022-10-1': 1, '2022-10-9': 3, '2022-10-10': 8, '2022-10-13': 6, '2022-10-17': 2}
fecha: 2022-10-1 horas: 1
1
fecha: 2022-10-9 horas: 3
3
fecha: 2022-10-10 horas: 8
8
fecha: 2022-10-13 horas: 6
6
fecha: 2022-10-17 horas: 2
2
nombre: miguel valores: {'2022-10-2': 4, '2022-10-5': 7, '2022-10-12': 1, '2022-10-13': 6, '2022-10-17': 3}
fecha: 2022-10-2 horas: 4
4
fecha: 2022-10-5 horas: 7
7
fecha: 2022-10-12 horas: 1
1
fecha: 2022-10-13 horas: 6
6
fecha: 2022-10-17 horas: 3
3

In [5]:
dfDatosReales

           ruben walter miguel
2022-10-01   NaN      1    NaN
2022-10-02   NaN    NaN      4
2022-10-03   NaN    NaN    NaN
2022-10-04     4    NaN    NaN
2022-10-05     5    NaN      7
2022-10-06   NaN    NaN    NaN
2022-10-07   NaN    NaN    NaN
2022-10-08   NaN    NaN    NaN
2022-10-09   NaN      3    NaN
2022-10-10     5      8    NaN
2022-10-11   NaN    NaN    NaN
2022-10-12   NaN    NaN      1
2022-10-13   NaN      6      6
2022-10-14   NaN    NaN    NaN
2022-10-15     6    NaN    NaN
2022-10-16   NaN    NaN    NaN
2022-10-17   NaN      2      3
2022-10-18     8    NaN    NaN
2022-10-19   NaN    NaN    NaN
2022-10-20   NaN    NaN    NaN
2022-10-21   NaN    NaN    NaN

In [6]:
dfDatosReales = dfDatosReales.fillna(0)
dfDatosReales

            ruben  walter  miguel
2022-10-01      0       1       0
2022-10-02      0       0       4
2022-10-03      0       0       0
2022-10-04      4       0       0
2022-10-05      5       0       7
2022-10-06      0       0       0
2022-10-07      0       0       0
2022-10-08      0       0       0
2022-10-09      0       3       0
2022-10-10      5       8       0
2022-10-11      0       0       0
2022-10-12      0       0       1
2022-10-13      0       6       6
2022-10-14      0       0       0
2022-10-15      6       0       0
2022-10-16      0       0       0
2022-10-17      0       2       3
2022-10-18      8       0       0
2022-10-19      0       0       0
2022-10-20      0       0       0
2022-10-21      0       0       0

In [7]:
listaDfsDatosRealesIndividuales=[]
for i in dfDatosReales:
    #print(i)
    listaDfsDatosRealesIndividuales.append(dfDatosReales.loc[:,[i]])
listaDfsDatosRealesIndividuales

[            ruben
 2022-10-01      0
 2022-10-02      0
 2022-10-03      0
 2022-10-04      4
 2022-10-05      5
 2022-10-06      0
 2022-10-07      0
 2022-10-08      0
 2022-10-09      0
 2022-10-10      5
 2022-10-11      0
 2022-10-12      0
 2022-10-13      0
 2022-10-14      0
 2022-10-15      6
 2022-10-16      0
 2022-10-17      0
 2022-10-18      8
 2022-10-19      0
 2022-10-20      0
 2022-10-21      0,
             walter
 2022-10-01       1
 2022-10-02       0
 2022-10-03       0
 2022-10-04       0
 2022-10-05       0
 2022-10-06       0
 2022-10-07       0
 2022-10-08       0
 2022-10-09       3
 2022-10-10       8
 2022-10-11       0
 2022-10-12       0
 2022-10-13       6
 2022-10-14       0
 2022-10-15       0
 2022-10-16       0
 2022-10-17       2
 2022-10-18       0
 2022-10-19       0
 2022-10-20       0
 2022-10-21       0,
             miguel
 2022-10-01       0
 2022-10-02       4
 2022-10-03       0
 2022-10-04       0
 2022-10-05       7
 2022-10-06       0
 2022-10-07       0
 2022-10-08       0
 2022-10-09       0
 2022-10-10       0
 2022-10-11       0
 2022-10-12       1
 2022-10-13       6
 2022-10-14       0
 2022-10-15       0
 2022-10-16       0
 2022-10-17       3
 2022-10-18       0
 2022-10-19       0
 2022-10-20       0
 2022-10-21       0]

In [8]:
for i in listaDfsDatosRealesIndividuales:
    print(i.columns.values)

['ruben']
['walter']
['miguel']

In [9]:
lista=dfDatosReales.index.tolist()
print(lista)
listamodificada=[]

for i in lista:
    
    listamodificada.append(i.strftime("%d-%m-%Y"))

print(listamodificada)

[Timestamp('2022-10-01 00:00:00', freq='D'), Timestamp('2022-10-02 00:00:00', freq='D'), Timestamp('2022-10-03 00:00:00', freq='D'), Timestamp('2022-10-04 00:00:00', freq='D'), Timestamp('2022-10-05 00:00:00', freq='D'), Timestamp('2022-10-06 00:00:00', freq='D'), Timestamp('2022-10-07 00:00:00', freq='D'), Timestamp('2022-10-08 00:00:00', freq='D'), Timestamp('2022-10-09 00:00:00', freq='D'), Timestamp('2022-10-10 00:00:00', freq='D'), Timestamp('2022-10-11 00:00:00', freq='D'), Timestamp('2022-10-12 00:00:00', freq='D'), Timestamp('2022-10-13 00:00:00', freq='D'), Timestamp('2022-10-14 00:00:00', freq='D'), Timestamp('2022-10-15 00:00:00', freq='D'), Timestamp('2022-10-16 00:00:00', freq='D'), Timestamp('2022-10-17 00:00:00', freq='D'), Timestamp('2022-10-18 00:00:00', freq='D'), Timestamp('2022-10-19 00:00:00', freq='D'), Timestamp('2022-10-20 00:00:00', freq='D'), Timestamp('2022-10-21 00:00:00', freq='D')]
['01-10-2022', '02-10-2022', '03-10-2022', '04-10-2022', '05-10-2022', '06-10-2022', '07-10-2022', '08-10-2022', '09-10-2022', '10-10-2022', '11-10-2022', '12-10-2022', '13-10-2022', '14-10-2022', '15-10-2022', '16-10-2022', '17-10-2022', '18-10-2022', '19-10-2022', '20-10-2022', '21-10-2022']

In [10]:
dataframeDatoRealAJson=[]
for i in listaDfsDatosRealesIndividuales:
    print(i.columns.values)
    i.index = listamodificada
    dataframeDatoRealAJson.append(i)

['ruben']
['walter']
['miguel']

In [11]:
dataframeDatoRealAJson

[            ruben
 01-10-2022      0
 02-10-2022      0
 03-10-2022      0
 04-10-2022      4
 05-10-2022      5
 06-10-2022      0
 07-10-2022      0
 08-10-2022      0
 09-10-2022      0
 10-10-2022      5
 11-10-2022      0
 12-10-2022      0
 13-10-2022      0
 14-10-2022      0
 15-10-2022      6
 16-10-2022      0
 17-10-2022      0
 18-10-2022      8
 19-10-2022      0
 20-10-2022      0
 21-10-2022      0,
             walter
 01-10-2022       1
 02-10-2022       0
 03-10-2022       0
 04-10-2022       0
 05-10-2022       0
 06-10-2022       0
 07-10-2022       0
 08-10-2022       0
 09-10-2022       3
 10-10-2022       8
 11-10-2022       0
 12-10-2022       0
 13-10-2022       6
 14-10-2022       0
 15-10-2022       0
 16-10-2022       0
 17-10-2022       2
 18-10-2022       0
 19-10-2022       0
 20-10-2022       0
 21-10-2022       0,
             miguel
 01-10-2022       0
 02-10-2022       4
 03-10-2022       0
 04-10-2022       0
 05-10-2022       7
 06-10-2022       0
 07-10-2022       0
 08-10-2022       0
 09-10-2022       0
 10-10-2022       0
 11-10-2022       0
 12-10-2022       1
 13-10-2022       6
 14-10-2022       0
 15-10-2022       0
 16-10-2022       0
 17-10-2022       3
 18-10-2022       0
 19-10-2022       0
 20-10-2022       0
 21-10-2022       0]

In [12]:
listaJsonDiarios=[]

for i in range(len(dataframeDatoRealAJson)):
    
    a=json.loads(dataframeDatoRealAJson[i].to_json())
    listaJsonDiarios.append(a)

#print(type(listaJsonDiarios[0]))
listaJsonDiarios

[{'ruben': {'01-10-2022': 0,
   '02-10-2022': 0,
   '03-10-2022': 0,
   '04-10-2022': 4,
   '05-10-2022': 5,
   '06-10-2022': 0,
   '07-10-2022': 0,
   '08-10-2022': 0,
   '09-10-2022': 0,
   '10-10-2022': 5,
   '11-10-2022': 0,
   '12-10-2022': 0,
   '13-10-2022': 0,
   '14-10-2022': 0,
   '15-10-2022': 6,
   '16-10-2022': 0,
   '17-10-2022': 0,
   '18-10-2022': 8,
   '19-10-2022': 0,
   '20-10-2022': 0,
   '21-10-2022': 0}},
 {'walter': {'01-10-2022': 1,
   '02-10-2022': 0,
   '03-10-2022': 0,
   '04-10-2022': 0,
   '05-10-2022': 0,
   '06-10-2022': 0,
   '07-10-2022': 0,
   '08-10-2022': 0,
   '09-10-2022': 3,
   '10-10-2022': 8,
   '11-10-2022': 0,
   '12-10-2022': 0,
   '13-10-2022': 6,
   '14-10-2022': 0,
   '15-10-2022': 0,
   '16-10-2022': 0,
   '17-10-2022': 2,
   '18-10-2022': 0,
   '19-10-2022': 0,
   '20-10-2022': 0,
   '21-10-2022': 0}},
 {'miguel': {'01-10-2022': 0,
   '02-10-2022': 4,
   '03-10-2022': 0,
   '04-10-2022': 0,
   '05-10-2022': 7,
   '06-10-2022': 0,
   '07-10-2022': 0,
   '08-10-2022': 0,
   '09-10-2022': 0,
   '10-10-2022': 0,
   '11-10-2022': 0,
   '12-10-2022': 1,
   '13-10-2022': 6,
   '14-10-2022': 0,
   '15-10-2022': 0,
   '16-10-2022': 0,
   '17-10-2022': 3,
   '18-10-2022': 0,
   '19-10-2022': 0,
   '20-10-2022': 0,
   '21-10-2022': 0}}]

In [13]:
#agrupacion datos semanales
dfDatosRealesSemanal=dfDatosReales.groupby(pd.Grouper(freq='1W')).sum()
dfDatosRealesSemanal

            ruben  walter  miguel
2022-10-02      0       1       4
2022-10-09      9       3       7
2022-10-16     11      14       7
2022-10-23      8       2       3

In [15]:
#lista datos semananeles individuales
listaDfsDatosRealesIndividualesSemanales=[]
for i in dfDatosRealesSemanal:
    #print(i)
    listaDfsDatosRealesIndividualesSemanales.append(dfDatosRealesSemanal.loc[:,[i]])
listaDfsDatosRealesIndividualesSemanales

[            ruben
 2022-10-02      0
 2022-10-09      9
 2022-10-16     11
 2022-10-23      8,
             walter
 2022-10-02       1
 2022-10-09       3
 2022-10-16      14
 2022-10-23       2,
             miguel
 2022-10-02       4
 2022-10-09       7
 2022-10-16       7
 2022-10-23       3]

In [16]:
#cambio formato fecha datos semanales
listasemanales=dfDatosRealesSemanal.index.tolist()
print(listasemanales)
listamodificadasemanales=[]

for i in listasemanales:
    print(i)
    
    listamodificadasemanales.append(i.strftime("%d-%m-%Y"))

print(listamodificadasemanales)

[Timestamp('2022-10-02 00:00:00', freq='W-SUN'), Timestamp('2022-10-09 00:00:00', freq='W-SUN'), Timestamp('2022-10-16 00:00:00', freq='W-SUN'), Timestamp('2022-10-23 00:00:00', freq='W-SUN')]
2022-10-02 00:00:00
2022-10-09 00:00:00
2022-10-16 00:00:00
2022-10-23 00:00:00
['02-10-2022', '09-10-2022', '16-10-2022', '23-10-2022']

In [17]:
#cambio index semanales a datos visibles
dataframeDatoRealSemanalAJson=[]
for i in listaDfsDatosRealesIndividualesSemanales:
    print(i.index)
    i.index = listamodificadasemanales
    dataframeDatoRealSemanalAJson.append(i)

DatetimeIndex(['2022-10-02', '2022-10-09', '2022-10-16', '2022-10-23'], dtype='datetime64[ns]', freq='W-SUN')
DatetimeIndex(['2022-10-02', '2022-10-09', '2022-10-16', '2022-10-23'], dtype='datetime64[ns]', freq='W-SUN')
DatetimeIndex(['2022-10-02', '2022-10-09', '2022-10-16', '2022-10-23'], dtype='datetime64[ns]', freq='W-SUN')

In [20]:
#lista json salida datos semanales 
listaJsonSemanal=[]

for i in range(len(dataframeDatoRealSemanalAJson)):
    
    a=json.loads(dataframeDatoRealSemanalAJson[i].to_json())
    listaJsonSemanal.append(a)

#print(type(listaJsonDiarios[0]))
listaJsonSemanal

[{'ruben': {'02-10-2022': 0,
   '09-10-2022': 9,
   '16-10-2022': 11,
   '23-10-2022': 8}},
 {'walter': {'02-10-2022': 1,
   '09-10-2022': 3,
   '16-10-2022': 14,
   '23-10-2022': 2}},
 {'miguel': {'02-10-2022': 4,
   '09-10-2022': 7,
   '16-10-2022': 7,
   '23-10-2022': 3}}]

In [21]:
#agrupacion datos mensuales
dfDatosRealesMensuales=dfDatosReales.groupby(pd.Grouper(freq='1M')).sum()
dfDatosRealesMensuales

            ruben  walter  miguel
2022-10-31     28      20      21

In [23]:
#lista datos Mensuales individuales
listaDfsDatosRealesIndividualesMensuales=[]
for i in dfDatosRealesMensuales:
    #print(i)
    listaDfsDatosRealesIndividualesMensuales.append(dfDatosRealesMensuales.loc[:,[i]])
listaDfsDatosRealesIndividualesMensuales

[            ruben
 2022-10-31     28,
             walter
 2022-10-31      20,
             miguel
 2022-10-31      21]

In [25]:
#cambio formato fecha datos mensuales
listaMensuales=dfDatosRealesMensuales.index.tolist()
print(listaMensuales)
listamodificadaMensuales=[]

for i in listaMensuales:
    print(i)
    
    listamodificadaMensuales.append(i.strftime("%d-%m-%Y"))

print(listamodificadaMensuales)

[Timestamp('2022-10-31 00:00:00', freq='M')]
2022-10-31 00:00:00
['31-10-2022']

In [26]:
#cambio index mensuales a datos visibles
dataframeDatoRealMensualAJson=[]
for i in listaDfsDatosRealesIndividualesMensuales:
    print(i.index)
    i.index = listamodificadaMensuales
    dataframeDatoRealMensualAJson.append(i)

DatetimeIndex(['2022-10-31'], dtype='datetime64[ns]', freq='M')
DatetimeIndex(['2022-10-31'], dtype='datetime64[ns]', freq='M')
DatetimeIndex(['2022-10-31'], dtype='datetime64[ns]', freq='M')

In [27]:
# creacion de lista de json mensual
listaJsonMensual=[]

for i in range(len(dataframeDatoRealMensualAJson)):
    
    a=json.loads(dataframeDatoRealMensualAJson[i].to_json())
    listaJsonMensual.append(a)

#print(type(listaJsonDiarios[0]))
listaJsonMensual

[{'ruben': {'31-10-2022': 28}},
 {'walter': {'31-10-2022': 20}},
 {'miguel': {'31-10-2022': 21}}]

In [71]:
#creacion estructura de datos json
datos=[{'columna1':[{'ruben': {'datoreal':{'diario':listaJsonDiarios[0]['ruben'],'semanal':listaJsonSemanal[0]['ruben'],'mensual':listaJsonMensual[0]['ruben']},'prediccion':{'diario':[],'semanal':[],'mensual':[]}}},{'walter': {'datoreal':{'diario':listaJsonDiarios[1]['walter'],'semanal':listaJsonSemanal[1]['walter'],'mensual':listaJsonMensual[1]['walter']},'prediccion':{'diario':[],'semanal':[],'mensual':[]}}},{'miguel': {'datoreal':{'diario':listaJsonDiarios[2]['miguel'],'semanal':listaJsonSemanal[2]['miguel'],'mensual':listaJsonMensual[2]['miguel']},'prediccion':{'diario':[],'semanal':[],'mensual':[]}}}]},{'columna2':[{'nombre1': {'datoreal':{'diario':[{'fecha':3},{'fecha':3}],'semanal':[{'indicadorSemana':3},{'indicadorSemana':3}],'mensual':[{'mes':3},{'mes':3}]},'prediccion':{'diario':[],'semanal':[],'mensual':[]}}}]}]

In [72]:
print(type(datos))
datos=json.dumps(datos)
datos
#print(type(datos))

<class 'list'>

'[{"columna1": [{"ruben": {"datoreal": {"diario": {"01-10-2022": 0, "02-10-2022": 0, "03-10-2022": 0, "04-10-2022": 4, "05-10-2022": 5, "06-10-2022": 0, "07-10-2022": 0, "08-10-2022": 0, "09-10-2022": 0, "10-10-2022": 5, "11-10-2022": 0, "12-10-2022": 0, "13-10-2022": 0, "14-10-2022": 0, "15-10-2022": 6, "16-10-2022": 0, "17-10-2022": 0, "18-10-2022": 8, "19-10-2022": 0, "20-10-2022": 0, "21-10-2022": 0}, "semanal": {"02-10-2022": 0, "09-10-2022": 9, "16-10-2022": 11, "23-10-2022": 8}, "mensual": {"31-10-2022": 28}}, "prediccion": {"diario": [], "semanal": [], "mensual": []}}}, {"walter": {"datoreal": {"diario": {"01-10-2022": 1, "02-10-2022": 0, "03-10-2022": 0, "04-10-2022": 0, "05-10-2022": 0, "06-10-2022": 0, "07-10-2022": 0, "08-10-2022": 0, "09-10-2022": 3, "10-10-2022": 8, "11-10-2022": 0, "12-10-2022": 0, "13-10-2022": 6, "14-10-2022": 0, "15-10-2022": 0, "16-10-2022": 0, "17-10-2022": 2, "18-10-2022": 0, "19-10-2022": 0, "20-10-2022": 0, "21-10-2022": 0}, "semanal": {"02-10-2022": 1, "09-10-2022": 3, "16-10-2022": 14, "23-10-2022": 2}, "mensual": {"31-10-2022": 20}}, "prediccion": {"diario": [], "semanal": [], "mensual": []}}}, {"miguel": {"datoreal": {"diario": {"01-10-2022": 0, "02-10-2022": 4, "03-10-2022": 0, "04-10-2022": 0, "05-10-2022": 7, "06-10-2022": 0, "07-10-2022": 0, "08-10-2022": 0, "09-10-2022": 0, "10-10-2022": 0, "11-10-2022": 0, "12-10-2022": 1, "13-10-2022": 6, "14-10-2022": 0, "15-10-2022": 0, "16-10-2022": 0, "17-10-2022": 3, "18-10-2022": 0, "19-10-2022": 0, "20-10-2022": 0, "21-10-2022": 0}, "semanal": {"02-10-2022": 4, "09-10-2022": 7, "16-10-2022": 7, "23-10-2022": 3}, "mensual": {"31-10-2022": 21}}, "prediccion": {"diario": [], "semanal": [], "mensual": []}}}]}, {"columna2": [{"nombre1": {"datoreal": {"diario": [{"fecha": 3}, {"fecha": 3}], "semanal": [{"indicadorSemana": 3}, {"indicadorSemana": 3}], "mensual": [{"mes": 3}, {"mes": 3}]}, "prediccion": {"diario": [], "semanal": [], "mensual": []}}}]}]'